@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DineView</h1>
    <p>Discover your next favourite dining experience with ease</a>.</p>
</div>
